<script>
  LiveRecord.helpers.loadRecords({modelName: 'Player'})
</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <span data-live-record-update-from='Player-<%= @player.id %>-score'>
  	<%= @player.score %>
  </span>
</p>

<p>
  <strong>Name:</strong>
  <span data-live-record-update-from='Player-<%= @player.id %>-name'>
  	<%= @player.name %>
  </span>
</p>

<p>
  <strong>Game:</strong>
  <span data-live-record-update-from='Player-<%= @player.id %>-game'>
  	<%= @player.game %>
  </span>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>