<script>
  LiveRecord.helpers.loadRecords({modelName: 'Card'})
  LiveRecord.Model.all.Card.subscribe();
</script>
<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr data-live-record-destroy-from='Card-<%= card.id %>'>
        <td data-live-record-update-from='Card-<%= card.id %>-category'><%= card.category %></td>
        <td data-live-record-update-from='Card-<%= card.id %>-name'><%= card.name %></td>
        <td data-live-record-update-from='Card-<%= card.id %>-image'><%= card.image %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>