<script>
  LiveRecord.helpers.loadRecords({modelName: 'Card'})
</script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <span data-live-record-update-from='Card-<%= @card.id %>-name'>
  	<%= @card.name %>
  </span>
</p>

<p>
  <strong>Image:</strong>
  <span data-live-record-update-from='Card-<%= @card.id %>-image'>
  	<%= image_tag @card.image.url %>
  </span>
</p>

<p>
  <strong>Image Source Url:</strong>
  <span data-live-record-update-from='Card-<%= @card.id %>-image_source_url'>
  	<%= @card.image_source_url %>
  </span>
</p>

<p>
  <strong>Score:</strong>
  <span data-live-record-update-from='Card-<%= @card.id %>-score'>
  	<%= @card.score %>
  </span>
</p>

<p>
  <strong>Category:</strong>
  <span data-live-record-update-from='Card-<%= @card.id %>-category'>
  	<%= @card.category.name %>
  </span>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
