<script>
  LiveRecord.helpers.loadRecords({modelName: 'GamesPlayer'})
  LiveRecord.Model.all.GamesPlayer.subscribe();
</script>
<p id="notice"><%= notice %></p>

<h1>Games Players</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Selected card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games_players.each do |games_player| %>
      <tr data-live-record-destroy-from='GamesPlayer-<%= games_player.id %>'>
        <td data-live-record-update-from='GamesPlayer-<%= games_player.id %>-game'><%= games_player.game %></td>
        <td data-live-record-update-from='GamesPlayer-<%= games_player.id %>-player'><%= games_player.player %></td>
        <td data-live-record-update-from='GamesPlayer-<%= games_player.id %>-selected_card_id'><%= games_player.selected_card_id %></td>
        <td><%= link_to 'Show', games_player %></td>
        <td><%= link_to 'Edit', edit_games_player_path(games_player) %></td>
        <td><%= link_to 'Destroy', games_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Games Player', new_games_player_path %>