<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id='admin-layout'>
    <div id='content-container' class='medium-10 large-6 medium-centered large-centered columns'>
      <%= link_to 'Categories', categories_path %> |
      <%= link_to 'Cards', cards_path %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
