<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110327936-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110327936-1');
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The online card-guessing game for Parties and Convos! No app or registration required! :) Try to guess cards, but only using ADJECTIVES, and AND and OR! No other words allowed! Say... 'big AND dark', 'sour OR sweet, AND round, AND green'!">
    <meta name="keywords" content="free, card, guessing, game, online, multiplayer, party, friendly gatherings">
    <meta name="author" content="Jules Roman B. Polidario">
    <meta property="og:image" content="<%= "#{Rails.application.config.action_controller.asset_host}/non_digest_assets/screenshot_01.png" %>"/>
    <meta name="twitter:image" content="<%= "#{Rails.application.config.action_controller.asset_host}/non_digest_assets/screenshot_01.png" %>">

    <title><%= content_for?(:title) ? yield(:title) : 'Adj - The online card-guessing game' %></title>

    <%= favicon_link_tag 'adj_favicon.png' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a1b54dfeb2d2977"></script>
  </body>
</html>
